[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "G.FUNCS.can_discard = function(e)"
position = "after"
payload = '''
if G.GAME.current_round.discards_left <= 0 or (G.GAME.blind.name == "bl_twbl_precision" and #G.hand.highlighted <= 4) then 
    e.config.colour = G.C.UI.BACKGROUND_INACTIVE
    e.config.button = nil
    return
end
'''
match_indent = true
